.chat_line {
	padding: rhythm(0.5) 10px;
	margin-left: -10px;
	list-style: none;
	width: $post-width;
}

.conversation {
	.odd {
		background-color: rgba(0,0,0,0.05);
	}
	
	.even {
		background-color: rgba(255,255,255,0.05);
	}
}